/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+css-extras&plugins=line-highlight+line-numbers+inline-color+previewers+match-braces */
code[class*='language-'],
pre[class*='language-'] {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  color: #ccc;
  background: 0 0;
  tab-size: 4;
  hyphens: none;
}

pre[class*='language-'] {
  overflow: auto;
  margin: 0.5em 0;
  padding: 1em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #2d2d2d;
}

:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  padding: 0.1em;
  white-space: normal;
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.function,
.token.number {
  color: #f08d49;
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #f8c555;
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #cc99cd;
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #7ec699;
}

.token.entity,
.token.operator,
.token.url {
  color: #67cdcc;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 1em;
  padding: inherit 0;
  line-height: inherit;
  white-space: pre;
  background: hsl(24deg 20% 50% / 8%);
  background: linear-gradient(to right, hsl(24deg 20% 50% / 10%) 70%, hsl(24deg 20% 50% / 0%));
  pointer-events: none;
}

@media print {
  .line-highlight {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.line-highlight::before,
.line-highlight[data-end]::after {
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  border-radius: 999px;
  padding: 0 0.5em;
  min-width: 1em;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  color: #f4f1ef;
  background-color: hsl(24deg 20% 50% / 40%);
  box-shadow: 0 1px #fff;
  text-shadow: none;
  content: attr(data-start);
}

.line-highlight[data-end]::after {
  top: auto;
  bottom: 0.4em;
  content: attr(data-end);
}

.line-numbers .line-highlight::after,
.line-numbers .line-highlight::before {
  content: none;
}

pre[id].linkable-line-numbers span.line-numbers-rows {
  pointer-events: all;
}

.line-numbers-rows > span::before {
  display: block;
  padding-right: 0.8em;
  text-align: right;
  color: #999;
  content: counter(linenumber);
}

pre[id].linkable-line-numbers span.line-numbers-rows > span::before {
  cursor: pointer;
}

pre[id].linkable-line-numbers span.line-numbers-rows > span:hover::before {
  background-color: rgb(128 128 128 / 20%);
}

pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*='language-'].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  top: 0;
  left: -3.8em;
  border-right: 1px solid #999;
  width: 3em;
  font-size: 100%;
  letter-spacing: -1px;
  user-select: none;
  pointer-events: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}



span.inline-color-wrapper {
  display: inline-block;
  overflow: hidden;
  margin: 0 0.333ch;
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 1.333ch;
  height: 1.333ch;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyIDIiPjxwYXRoIGZpbGw9ImdyYXkiIGQ9Ik0wIDBoMnYySDB6Ii8+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0wIDBoMXYxSDB6TTEgMWgxdjFIMXoiLz48L3N2Zz4=');
  background-position: center;
  background-size: 110%;
  outline: 1px solid rgb(0 0 0 / 50%);
}

span.inline-color {
  display: block;
  width: 120%;
  height: 120%;
}

.prism-previewer,
.prism-previewer::after,
.prism-previewer::before {
  position: absolute;
  pointer-events: none;
}

.prism-previewer,
.prism-previewer::after {
  left: 50%;
}

.prism-previewer {
  z-index: 10;
  margin-top: -48px;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  opacity: 0;
  transition: opacity 0.25s;
}

.prism-previewer.flipped {
  margin-top: 0;
  margin-bottom: -48px;
}

.prism-previewer::after,
.prism-previewer::before {
  position: absolute;
  content: '';
  pointer-events: none;
}

.prism-previewer::before {
  inset: -5px;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(0 0 0 / 50%) inset, 0 0 10px rgb(0 0 0 / 75%);
}

.prism-previewer::after {
  top: 100%;
  margin: 5px 0 0 -7px;
  border: 7px solid transparent;
  border-color: rgb(255 0 0 / 0%);
  border-top-color: #fff;
  width: 0;
  height: 0;
}

.prism-previewer.flipped::after {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  border-top-color: rgb(255 0 0 / 0%);
  border-bottom-color: #fff;
}

.prism-previewer.active {
  opacity: 1;
}

.prism-previewer-angle::before {
  border-radius: 50%;
  background: #fff;
}

.prism-previewer-angle::after {
  margin-top: 4px;
}

.prism-previewer-angle svg {
  width: 32px;
  height: 32px;
  transform: rotate(-90deg);
}

.prism-previewer-easing svg {
  width: 60px;
  height: 60px;
}

.prism-previewer-time svg {
  width: 32px;
  height: 32px;
  transform: rotate(-90deg);
}

.prism-previewer-angle[data-negative] svg {
  transform: scaleX(-1) rotate(-90deg);
}

.prism-previewer-angle circle {
  fill: transparent;
  stroke: #2d3438;
  stroke-opacity: 0.9;
  stroke-width: 32;
  stroke-dasharray: 0, 500;
}

.prism-previewer-gradient {
  margin-left: -32px;
  width: 64px;
  background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
}

.prism-previewer-gradient::before {
  content: none;
}

.prism-previewer-gradient div {
  position: absolute;
  inset: -5px;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(0 0 0 / 50%) inset, 0 0 10px rgb(0 0 0 / 75%);
}

.prism-previewer-color {
  background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
}

.prism-previewer-color::before {
  background-color: inherit;
  background-clip: padding-box;
}

.prism-previewer-easing {
  margin-top: -76px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  background: #333;
}

.prism-previewer-easing.flipped {
  margin-bottom: -116px;
}



.prism-previewer-easing circle {
  fill: #2d3438;
  stroke: #fff;
}

.prism-previewer-easing path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
}

.prism-previewer-easing line {
  stroke: #fff;
  stroke-opacity: 0.5;
  stroke-width: 2;
}

@keyframes prism-previewer-time {
  0% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100, 500;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: -100;
  }
}

@keyframes prism-previewer-time {
  0% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100, 500;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: -100;
  }
}

@keyframes prism-previewer-time {
  0% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100, 500;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: -100;
  }
}

@keyframes prism-previewer-time {
  0% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100, 500;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: -100;
  }
}

.prism-previewer-time::before {
  border-radius: 50%;
  background: #fff;
}

.prism-previewer-time::after {
  margin-top: 4px;
}



.prism-previewer-time circle {
  fill: transparent;
  stroke: #2d3438;
  stroke-opacity: 0.9;
  stroke-width: 32;
  stroke-dasharray: 0, 500;
  stroke-dashoffset: 0;
  animation: prism-previewer-time linear infinite 3s;
}
