@import url('./componentsVariable.css');
@import url('./unoVariable.css');
@import url('./variable.css');
@import url('./transition.css');

:root{
  /* 开启插值过渡 */
  /* interpolate-size: allow-keywords; */
}

html {
  background: var(--bg-color);
}

.dark {
  color-scheme: dark;  
}

label {
  user-select: none;
}

* {
  scrollbar-width: thin;
  /* 第一个是滚动调颜色，第二个是滚动轨道颜色 */
  /* scrollbar-color: rebeccapurple green; */
}
