.login {
  animation: to-register 1.5s ease-in forwards;
}

.register {
  animation: to-login 1.5s ease-in forwards;
}

@keyframes to-login {
  0% {
    opacity: 1;
  }


  25%,
  100% {
    opacity: 0;
  }
}

@keyframes to-register {
  0% {
    opacity: 1;
  }

  25%,
  100% {
    opacity: 0;
  }
}
