.waterfall[data-v-e288ab71]{display:grid;grid-auto-rows:5px;grid-template-columns:repeat(auto-fill,calc(50% - 5px));align-items:start;justify-content:space-between;padding:0 10px 10px}.listItem[data-v-e06b2404]{border-radius:5px}
