/* Color Mode transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

.dark::view-transition-old(root) {
  z-index: 2147483646;
}

.dark::view-transition-new(root) {
  z-index: 1;
}


.demo-page-enter-active,
.demo-page-leave-active {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform: translateX(0);
}

.demo-page-enter-from{
  transform: translateX(200%);
}

.demo-page-enter-to{
  transform: translateX(0);
}

.demo-page-leave-from {
  transform: translateX(0);
}

.demo-page-leave-to {
  transform: translateX(-200%);
}
