.basic-btn {
  @apply: w-fit px-5 py-1 rounded-5 bg-green-400 dark:bg-green-600 hover:bg-green-500;
} 

.btn-mask {
  overflow: hidden;
  position: relative;

  &::after {
    position: absolute;
    inset: 0;
    background-color: #fff;
    opacity: 0;
    content: '';
  }

  &:hover {
    &::after {
      opacity: 0.2;
    }
  }

  &[active="true"]::after {
    opacity: 0.2;
  }
}


