@import url('./Commonvariable.css');
@import url('./variableLight.css');
@import url('./variableDark.css');
@import url('./unoVariable.css');

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: var(--bg-color);
}

label {
  user-select: none;
}
